<html>
<head>
    <title> Spotbak Setup</title>
    <link rel="stylesheet" href='/static/main.css' />  
</head>
<body>
    <div class="centre">
<h1> Spotbak Setup</h1>
<p>Spotbak is a simple app that is designed to backup your spotify playlists and save each one in a CSV file</p>
<p>Spotbak can be setup as a cron job and run on a regular basis.</p>

<p>This app needs a 'Client ID'  and 'Client Secret' which requires a Spotify developer account in order to aquire these credentials.</p>
<a href="https://developer.spotify.com">Spotify for Developers</a>
<p>Please ensure you register the app and aquire credentials before continuing</p>
<p>This Spotbak is a self-hosted solution. All data is stored locally.</p>


<a class="button" href="setup">Click here to start the installation.</a>
</div>
</body>
</html>
</body>
</html>